@media (max-width: 576px) {

    .card-title {
        font-size: 18px;
        height: auto;
        margin-bottom: 15px;
    }

    .card-text {
        font-size: 16px;
        height: auto;
        margin-bottom: 20px;
    }

    .source {
        margin: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .source p {
        font-size: 14px;
        margin-bottom: 0;
    }

}